body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
  padding-left: 100px;
}

p, figcaption {
  font-size: 1.5em;
}

nav li {
  display: inline-flex;
}

.specials {
  display: inline-flex; 
  padding: 5%;
}

.CTA {
  padding: 5%;
}

.testamonials {
  padding: 5%;
}

.chicago {
  padding: 5%;
}